/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-inline-size: 320px;
  inline-size: var(--block-global-width);
  min-block-size: 100dvb;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-text);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;

}

.header, .main {
  inline-size: var(--site-content-width);
  margin: 0 auto;
}

.header {
  margin-top: 100px;
  background-color: white;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.main {
  margin-bottom: 100px;
}

.header__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-family-accent);
  text-transform: uppercase;
  text-align: center;
  padding: var(--header-vertical-padding) 0;

}

.header__title_large {
  font-size: var(--header-font-size-large);
}

.header__title_small {
  font-size: var(--header-font-size-small);
}