/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-inline-size: 320px;
  inline-size: var(--block-global-width);
  min-block-size: 100dvb;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-text);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;

}

.header, .main {
  inline-size: var(--site-content-width);
  background-color: white;
  margin: 0 auto;
}

.header {
  margin-top: 100px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-family-accent);
  text-transform: uppercase;
  text-align: center;
  padding: var(--header-vertical-padding) 0;
}
.main {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.header__logo {
  font-size: var(--header-font-size-large);
  @media (width < 375px) {
    font-size: clamp(2.25rem, 1.9545rem + 4.7273vw, 3.0625rem);
  }
  
}

.header__title {
  font-size: var(--header-font-size-small);
}

.card {
  border: 2px solid black;
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-header);
  padding: 4px 10px;
  line-height: 120%;
  margin-top: 1px;

}

.card__image-container {
  position: relative;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  @supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff;
    text-shadow:none;
  }
  z-index: 1;
}

.card__image {
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.card__content {
  padding: 21px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text {
  font-size: 18px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 9px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.card:first-child .card__image {
  filter: sepia(0.8) saturate(0.7);

}
.card:nth-child(2) .card__image {
  filter: sepia(0.6) contrast(0.9) brightness(1.1);

}
.card:nth-child(3) .card__image {
  filter: grayscale(1) hue-rotate(200deg) saturate(1.5);
}

.card:nth-child(4) .card__image {
  filter: saturate(0.5) blur(1px) brightness(1.1);
}

.card:nth-child(5) .card__image {
  filter: grayscale(1) sepia(1) hue-rotate(180deg);
}

.card:nth-child(6) .card__image {
  filter: saturate(0.6) contrast(1.1) brightness(0.9);
}

.card:nth-child(7) .card__image {
  filter: drop-shadow(0 0 5px #0ff) brightness(1.3);
}

.card:nth-child(8) .card__image {
  filter: grayscale(0.8) sepia(0.3) hue-rotate(160deg) saturate(2);
}

.button__text_effect {  
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}
.button {
  font-family: var(--font-family-accent), serif;
  font-size: 14px;
  line-height: 90%;
  background-color: white;
  border:2px solid black;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: color 1s ease;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}


.button:focus {
  box-shadow: 2px 2px 0 black;
  transition: box-shadow 0.3s;
}

.card__icon-button {
  height: 38px;
  width: 38px;
  border: 2px solid transparent;
  padding: 0;
}

.card__like-button {
  padding: 10px 35px;
}

.like-icon {
  height: 38px;
  width: 39px;
  --heart-fill-color: rgba(255, 0, 0, 0);
  /* margin-left: -2px; */
}

.card__icon-button:focus {
  outline: none;

} 

.card__icon-button:focus-visible {
  border: 2px solid black;
} 

.button-save {
  display: flex;
  gap: 8px;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: var(--save-button-width);
  flex-wrap: wrap;
  padding: 15px 18px;
}

.floppy-icon {
    align-self: center;
}

.button-save__floppy-icon {
    inline-size: var(--save-button-floppy-icon-size);
    block-size: var(--save-button-floppy-icon-size);
    color: black;
    transition: transform 10.5s ease-in-out;
}
.button:hover .button-save__floppy-icon {
  mix-blend-mode: difference;
  color: white;
}


.card__icon-button:focus-visible like-icon {
  border: 2px solid black;
} 

.contour {
  color: var(--heart-contour-color);
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  color: transparent;
  transition: fill 0.3s linear;
}
.sparks {
  /* color: var(--heart-fill-color); */
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: #f00;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: #f00;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: #f00;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: #f00;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: #f00;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-heart 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: flash-sparks 0.3s 0.3s ease-in;
}

.dialog {
  display: none;
}

.dialog[open] {
  position: fixed;
  inset: 0;
  width: var(--dialog-width);
  padding: 30px var(--dialog-padding-sides);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "icon text"
    "button button";
  row-gap: 30px;
  column-gap: 20px;
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-transform: uppercase;

}

.dialog__floppy-icon {
  grid-area: icon;
  width: 39px;
  height: 39px;
}

.dialog__text {
  grid-area: text;
  line-height: 150%;
}

.dialog__button {
  grid-area: button;
  padding-top: 10px;
  padding-bottom: 10px;
}
