/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-text, 400);
  background-image: var(--background-image, linear-gradient(gray, gray));
  background-attachment: fixed;
  background-size: cover;

}

.header, .main {
  inline-size: var(--site-content-width, clamp(320px, 100%, 700px));
  margin: 0 auto;
}

.header {
  margin-top: 100px;
  border: 2px solid var(--border-color, #000);
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-family-accent), fantasy;
  text-transform: uppercase;
  text-align: center;
  padding: var(--header-vertical-padding, 120px) 0;
  background-color: var(--primary-color, #fff);
}

.header__logo {
  font-size: var(--header-font-size-large, clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem));
  @media (width < 375px) {
    font-size: clamp(2.25rem, 1.9545rem + 4.7273vw, 3.0625rem);
  }

}

.header__title {
  font-size: var(--header-font-size-small, clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem));
}

.main {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid var(--border-color, #000);
  background-color: var(--primary-color, #fff);
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-header, 715);
  padding: 4px 10px;
  line-height: 120%;
  margin-top: 1px;

}

.card__image-container {
  position: relative;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-family-accent), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  background-color: transparent;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--primary-color, #fff),
    0 1px var(--primary-color, #fff),
    1px 0 var(--primary-color, #fff),
    0 -1px var(--primary-color, #fff);
  @supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
    text-stroke: 1px var(--primary-color, #fff);
    -webkit-text-stroke: 1px var(--primary-color, #fff);
    text-shadow:none;
  }
  opacity: 50%;
  z-index: 1;
}

.card__image {
  width: 100%;
  border-top: 2px solid var(--border-color, #000);
  border-bottom: 2px solid var(--border-color, #000);
}

.card__content {
  padding: 21px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 7px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.filter-vintage-warm {
  filter: var(--filter-vintage-warm, none);
}

.filter-monochrome-blue {
  filter: var(--filter-monochrome-blue, none);
}

.filter-pastel-dream {
  filter: var(--filter-pastel-dream, none);
}

.filter-neon-glow {
  filter: var(--filter-neon-glow, none);
}

.filter-muted-film {
  filter: var(--filter-muted-film), none;
}

.filter-sharp-clear {
  filter: var(--filter-sharp-clear, none);
}

.filter-faded-memory {
  filter: var(--filter-faded-memory, none);
}

.filter-cool-tone {
  filter: var(--filter-cool-tone, none);
}

.button__animation-effect {
  position: relative;
  z-index: 1;
  color: var(--primary-color, #fff);
  mix-blend-mode: difference;
}

.button {
  font-family: var(--font-family-accent), fantasy;
  font-size: 14px;
  line-height: 90%;
  background-color: var(--primary-color, #fff);
  border:2px solid var(--border-color, #000);
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: color 1s ease;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  box-shadow: 2px 2px 0 var(--border-color, #000);
  transition: box-shadow 0.3s;
}

.card__icon-button {
  display: flex;
  height: 38px;
  width: 39px;
  border: 2px solid transparent;
  padding: 0;
}

.card__like-button {
  min-width: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.like-icon {
  height: 38px;
  width: 39px;
  margin-left: -2px;
  z-index: 5;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color, #000);
}

.button-save {
  display: flex;
  gap: 8px;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: var(--save-button-width, clamp(19.125rem, 17.0337rem + 8.9231vw, 20.9375rem));
  flex-wrap: wrap;
  padding: 15px 18px;
}

.floppy-icon {
  align-self: center;
}

.button-save__floppy-icon {
    inline-size: var(--save-button-floppy-icon-size, clamp(21px, calc(28px - 7 * ((100vw - 375px) / 325)), 28px));
    block-size: var(--save-button-floppy-icon-size, clamp(21px, calc(28px - 7 * ((100vw - 375px) / 325)), 28px));
    transition: transform 10.5s ease-in-out;
    mix-blend-mode: difference;
    color: var(--primary-color, #fff);
}

.card__icon-button:focus-visible like-icon {
  border: 2px solid var(--border-color, #000);
}

.contour {
  color: var(--heart-normal-color, #000);
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  color: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--heart-nornal-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-normal-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-accent-color, #f00);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-accent-color, #f00);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-accent-color, #f00);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-accent-color, #f00);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-accent-color, #f00);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-heart 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: flash-sparks 0.3s 0.3s ease-in;
}

.dialog {
  display: none;
  width: var(--dialog-width, 21rem);
  padding: 30px var(--dialog-padding-sides, 35px);
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "icon text"
    "form form";
  row-gap: 30px;
  column-gap: 20px;
  font-family: var(--font-family-accent), fantasy;
  font-size: 14px;
  text-transform: uppercase;
}

.dialog[open] {
  display: grid;
}

.dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__floppy-icon {
  grid-area: icon;
  width: 39px;
  height: 39px;
}

.dialog__text {
  grid-area: text;
  line-height: 150%;
}

.dialog__form {
  grid-area: form;
}

.dialog__button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dialog__button-text {
  text-transform: uppercase;
}
