/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-inline-size: 320px;
  inline-size: var(--block-global-width);
  min-block-size: 100dvb;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-text);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;

}

.header, .main {
  inline-size: var(--site-content-width);
  background-color: white;
  margin: 0 auto;
}

.header {
  margin-top: 100px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-family-accent);
  text-transform: uppercase;
  text-align: center;
  padding: var(--header-vertical-padding) 0;
}
.main {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.header__logo {
  font-size: var(--header-font-size-large);
  @media (width < 375px) {
    font-size: clamp(2.25rem, 1.9545rem + 4.7273vw, 3.0625rem);
  }
  
}

.header__title {
  font-size: var(--header-font-size-small);
}

.card {
  background-color: white;    
  border: 2px solid black;
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-header);
  padding: 4px 10px;
}

.card__image-container {
  position: relative;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  @supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff;
    text-shadow:none;
  }
}

.card__image {
  width: 100%;
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.button {
  font-family: var(--font-family-accent), serif;
  font-size: 14px;
  line-height: 90%;
  background-color: white;
  border: none;
  padding: 0;
}

.button-like-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;

}
.card__like-button {
  border:2px solid black;
}
.button__text {
  padding: 12px 36px;
}

.like-icon {
  height: 24px;
  width: 27px;
}

.button-save-container {
  display: flex;
  gap: 8px;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: var(--save-button-width);
  flex-wrap: wrap;
  padding: 15px 18px;
  border:2px solid black;

}
.floppy-icon {
    align-self: center;
    inline-size: var(--save-button-floppy-icon-size);
    block-size: var(--save-button-floppy-icon-size);
}

.dialog {
  display: none;
}

.dialog[open] {
  position: fixed;
  inset: 0;
  width: var(--dialog-width);
  padding: 30px var(--dialog-padding-sides);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "icon text"
    "button button";
  row-gap: 30px;
  column-gap: 20px;
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-transform: uppercase;

}

.dialog__floppy-icon {
  grid-area: icon;
  width: 39px;
  height: 39px;
}

.dialog__text {
  grid-area: text;
  line-height: 150%;
}

.dialog__button {
  grid-area: button;
  line-height: 90%;
  border:2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}