:root {
  --font-family-main: 'Inter';
  --font-family-accent: 'PressStart2P', 'DejaVu Sans Mono', 'Monaco', 'Lucida Console';
  --font-weight-header: 715;
  --font-weight-text: 410;
  --background-image: 
    repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, rgb(0 0 0 / 0) 2px, rgb(0 0 0 / 0) 4px),
    repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, rgb(0 0 0 / 0) 2px, rgb(0 0 0 / 0) 4px),
    linear-gradient(to bottom,#e7e7e7 0.01%, #1a1a1a 100%);

  --site-content-width: clamp(320px, 100%, 700px);
  --save-button-width: clamp(19.125rem, 17.0337rem + 8.9231vw, 20.9375rem);
  --save-button-floppy-icon-size: clamp(21px, calc(28px - 7 * ((100vw - 375px) / 325)), 28px);
  --dialog-width: clamp(21.3125rem, 20.4471rem + 3.6923vw, 22.0625rem);
  --dialog-padding-sides: clamp(30px, calc(40px - 10 * (100vw - 375px) / 325), 40px);

  --header-font-size-large: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --header-font-size-small: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);

  --header-vertical-padding: clamp(7.5rem, 6.9231rem + 2.4615vw, 8rem);

  --heart-normal-color: #000;
  --heart-accent-color: #f00;
  --heart-accent-color-no-visible: #ff000000;
  --heart-accent-color-visible: #ff0000ff;
  --border-color: #000;
  --primary-color: #fff;
  --secondary-color: #000;
}
