/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-main: 'Inter';
  --font-family-accent: 'PressStart2P';
  --font-weight-header: 715;
  --font-weight-text: 410;
  --background-image: 
    repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, rgb(0 0 0 / 0) 2px, rgb(0 0 0 / 0) 4px),
    repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, rgb(0 0 0 / 0) 2px, rgb(0 0 0 / 0) 4px),
    linear-gradient(to bottom,#e7e7e7 0.01%, #1a1a1a 100%);

}